<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HarmonyApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DLLs" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings configSource="ConnectionStrings.config" />
  <appSettings file="Private.config">
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <HarmonyApp.Properties.Settings>
      <setting name="Vaults" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Intranet</string>
            <string>Basel</string>
            <string>Rotterdam</string>
            <string>Stockholm Production</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="View" serializeAs="String">
        <value>Web service</value>
      </setting>
      <setting name="StartDate" serializeAs="String">
        <value>2008-01-01</value>
      </setting>
      <setting name="TermsServiceUri" serializeAs="String">
        <value>http://informea.pops.int/Meetings2/asbMeetings.svc</value>
      </setting>
      <setting name="Urls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Basel	http://www.basel.int/Portals/4/download.aspx?d=</string>
            <string>Rotterdam	http://www.pic.int/Portals/5/download.aspx?d=</string>
            <string>Stockholm Production	http://chm.pops.int/Portals/0/download.aspx?d=</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TreatiesServiceUrl" serializeAs="String">
        <value>http://informea.pops.int/CountryProfiles/brsTreatyProfile.svc</value>
      </setting>
      <setting name="IsDeleteUnprocessed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DbReconnectAfter" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="VaultsToConventions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Stockholm Production	stockholm</string>
            <string>Intranet	brs</string>
          </ArrayOfString>
        </value>
      </setting>
    </HarmonyApp.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>