<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=ApplicationData}/HarmonyApp/logs/logfile-${date:format=yyyyMMdd}.txt"
            keepFileOpen="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
    />
    <target xsi:type="Console" name="console"/>
    <target xsi:type="EventLog"
            name="eventlog"
            source="HarmonyApp"
            layout="${message}|${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:maxInnerExceptionLevel=10}"
            log="Application"
            eventId="100"
    />
  </targets>

  <rules>
    <logger name="*"
            minlevel="info"
            writeTo="console" />
    <logger name="*"
            minlevel="info"
            writeTo="logfile" />
    <logger name="*"
                minlevel="info"
                writeTo="eventlog" />
  </rules>
</nlog>