<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${specialFolder:folder=CommonApplicationData}/MFilesSync/${processname}/${processname}-${date:format=yyyyMMdd}.log"
            keepFileOpen="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
    />
    <target xsi:type="Console" name="console"/>

    <target name="errfile"
            xsi:type="File"
            fileName="${specialFolder:folder=CommonApplicationData}/MFilesSync/${processname}/${processname}-ERROR-${date:format=yyyyMMdd}.log"
            keepFileOpen="true"
            layout="${longdate}|${logger}|${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:maxInnerExceptionLevel=10}"
    />


    <target xsi:type="EventLog"
            name="eventlog"
            source="MFilesSync"
            layout="${message}|${exception:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace:maxInnerExceptionLevel=10}"
            
            />
  </targets>

  <rules>
    <logger name="sql"
            minlevel="error"
            writeTo="console" final="true"/>
    

    <logger name="*"
            minlevel="info"
            writeTo="console" />

  </rules>
</nlog>