<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${basedir}/logs/logfile-${date:format=yyyyMMddHHmm}.txt"
            keepFileOpen="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
    />
    <target xsi:type="Console" name="console"/>
  </targets>

  <rules>
    <logger name="*"
            minlevel="info"
            writeTo="console" />
    <logger name="*"
            minlevel="info"
            writeTo="logfile" />

  </rules>
</nlog>